<!DOCTYPE html>
<html lang="en">
<head>
    <title>Єдиний реєстр боржників</title>
    <link rel="icon" href="img/logo_min_just.png" type="image/png">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="css/amazium.css">
    <link rel="stylesheet" type="text/css" href="css/custom.css">
    <link rel="stylesheet" type="text/css" href="css/pikaday.css">
    <link rel="stylesheet" type="text/css" href="css/print.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
</head>

<body>

<header class="header ">
    <div class="row row--align-center">
        <div class="grid-4 txt-center">
            <img src="img/logo_min_just.png" class="img-left-my" width="160px">
        </div>
        <div class="grid-6">
            <h2 class="header-text">Єдиний реєстр боржників</h2>
        </div>
        <div class="grid-2 txt-center">
            <button type="button" onclick="location.href='login.html'" class="btn btn--color-default header-text">
                Увійти
            </button>
        </div>
    </div>
</header>


<div class="content-area">
    <div class="section div-border-bottom">
        <div class="row grid-12 ">
            <form action="javascript:void(0);">
                <fieldset class="hide-mobile">
                <span class="radio toggle">
                    <span onClick="window.location = 'search_debtor.html';">
                        <input type="radio" tabindex="6" name="mainPages" id="radioPage1" checked="checked" value="1">
                        <label for="radioPage1">
                            <span>Пошук боржника</span>
                        </label>
                    </span>
                    <span onClick="window.location = 'alimony_debtors.html';">
                        <input type="radio" tabindex="7" name="mainPages" id="radioPage2" value="2">
                        <label for="radioPage2">
                            <span>Заборгованість по аліментах</span>
                        </label>
                    </span>
                    <span onClick="window.location = 'wages_debtors.html';">
                        <input type="radio" tabindex="8" name="mainPages" id="radioPage3" value="3">
                        <label for="radioPage3">
                            <span>Заборгованість по заробітній платі</span>

                        </label>
                    </span>
                    <span onClick="window.location = 'child_dates_debtors.html';">
                        <input type="radio" tabindex="9" name="mainPages" id="radioPage4" value="4">
                        <label for="radioPage4">
                            <span>Боржники, що перешкоджають у побаченні з дитиною</span>

                        </label>
                    </span>
                </span>
                </fieldset>
                <fieldset class="show-mobile">
                <span class="select">
                  <select>
                    <option value="1">Пошук боржників</option>
                    <option value="2">Заборгованість по аліментах</option>
                    <option value="3">Заборгованість по заробітній платі</option>
                    <option value="4">Боржники, що перешкоджають у побаченні з дитиною</option>
                  </select>
                </span>
                </fieldset>
            </form>
        </div>

    </div>
    <div id="page1" class="section">
        <div class="row">
            <div class="grid-12">
                <div class=" row row--align-center">
                    <div class="grid-8">
                        <form class="labels-inline ng-pristine ng-valid">
                            <fieldset>
                                <label>Тип боржника:</label>

                                <span class="radio">
                                <span>
                                    <input type="radio" tabindex="1" name="debtorType" id="radioPhysical" checked=""
                                           data-ng-model="vm.data.searchType" value="1">
                                    <label for="radioPhysical">Фізична особа</label>
                                </span>
                            <span>
                                <input type="radio" tabindex="2" name="debtorType" id="radioLegalentity"
                                       data-ng-model="vm.data.searchType" value="2"
                                >
                                <label for="radioLegalentity">Юридична особа</label>
                            </span>

                            </span>
                            </fieldset>
                        </form>
                    </div>
                </div>

                <div>
                    <div id="page01" class="section">
                        <div class="">
                            <ol class="columns columns-2-desktop">
                                <li class="column">
                                    <form>
                                        <fieldset>
                                            <label for="inputPersonSurname">Прізвище:</label>
                                            <input type="text" id="inputPersonSurname" placeholder="Прізвище"
                                                   tabindex="5" autocomplete="off">
                                        </fieldset>

                                        <fieldset>
                                            <label for="inputPersonName">Ім’я:</label>
                                            <input type="text" id="inputPersonName" placeholder="Ім’я" tabindex="6"
                                                   autocomplete="off">
                                        </fieldset>

                                        <fieldset>
                                            <label for="inputPersonPatro">По батькові (за наявності):</label>
                                            <input type="text" id="inputPersonPatro"
                                                   placeholder="По батькові (за наявності)" tabindex="7"
                                                   data-ng-model="vm.data.filter.MiddleName" autocomplete="off"
                                                   class="ng-pristine ng-untouched ng-valid ng-empty">
                                        </fieldset>

                                        <fieldset>
                                            <label for="inputPersonBirthDate">Дата народження:</label>
                                            <input type="date" id="inputPersonBirthDate"
                                                   placeholder="Дата народження" tabindex="8"
                                                   autocomplete="off">
                                        </fieldset>
                                    </form>
                                </li>
                                <li class="column">
                                    <form>
                                        <fieldset>
                                            <label for="inputPersonSurname">Реєстраційний номер облікової картки
                                                платника податків:</label>
                                            <input type="text" id="inputPersonCode" placeholder="" tabindex="9">
                                        </fieldset>
                                        <fieldset class="ng-hide">
                                            <label for="inputPersonSurname">Увага, пошук буде проведено лише по полю
                                                "Реєстраційний номер облікової картки платника податків"</label>
                                        </fieldset>
                                    </form>
                                </li>
                            </ol>

                            <fieldset>
                                <label for="categorySelect_33">
                                    Категорія стягнення:
                                </label>
                                <span class="select">
                                    <select id="categorySelect_33">
                                        <option value="" selected="selected"></option>
                                        <option label="стягнення коштів" value="01">стягнення коштів</option>
                                        <option label="звернення стягнення на майно" value="02">звернення стягнення на майно</option>
                                        <option label="стягнення аліментів" value="03">стягнення аліментів</option>
                                        <option label="стягнення періодичних платежів (крім аліментів)" value="04">стягнення періодичних платежів (крім аліментів)</option><option
                                            label="стягнення заборгованості із заробітної плати та інших платежів, пов’язаних з трудовими відносинами"
                                            value="05">стягнення заборгованості із заробітної плати та інших платежів, пов’язаних з трудовими відносинами</option>
                                        <option label="стягнення соціальних виплат" value="06">стягнення соціальних виплат</option>
                                        <option label="стягнення заборгованості з оплати комунальних послуг" value="07">стягнення заборгованості з оплати комунальних послуг</option><option
                                            label="стягнення штрафів у справах про адміністративні правопорушення"
                                            value="08">стягнення штрафів у справах про адміністративні правопорушення</option>
                                        <option label="стягнення штрафів у справах про адміністративні правопорушення у сфері безпеки дорожнього руху"
                                                value="09">стягнення штрафів у справах про адміністративні правопорушення у сфері безпеки дорожнього руху</option>
                                        <option label="забезпечення позову" value="10">забезпечення позову</option>
                                        <option label="зобов’язання вчинити певні дії або утриматися від їх вчинення"
                                                value="11">зобов’язання вчинити певні дії або утриматися від їх вчинення</option>
                                        <option label="поновлення на роботі" value="12">поновлення на роботі</option>
                                        <option label="вселення стягувача"
                                                value="13">вселення стягувача</option>
                                        <option label="виселення" value="14">виселення</option><option
                                            label="відібрання дитини" value="15">відібрання дитини</option>
                                        <option label="заборона вчиняти певні дії"
                                                value="16">заборона вчиняти певні дії</option>
                                        <option label="конфіскація майна" value="17">конфіскація майна</option>
                                        <option label="конфіскація майна, вилученого митними органами" value="18">конфіскація майна, вилученого митними органами</option>
                                        <option label="конфіскація майна засуджених" value="18.1">конфіскація майна засуджених</option>
                                        <option label="конфіскація коштів та майна за вчинення корупційного та пов’язаного з корупцією правопорушення"
                                                value="19">конфіскація коштів та майна за вчинення корупційного та пов’язаного з корупцією правопорушення</option>
                                        <option label="оплатне вилучення" value="20">оплатне вилучення</option>
                                        <option label="передача стягувачу предметів, зазначених у виконавчому документі"
                                                value="21">передача стягувачу предметів, зазначених у виконавчому документі</option><option
                                            label="стягнення коштів на користь держави" value="22">стягнення коштів на користь держави</option>
                                        <option label="рішення Європейського суду з прав людини"
                                                value="23">рішення Європейського суду з прав людини</option>
                                        <option label="стягнення виконавчого збору"
                                                value="24">стягнення виконавчого збору</option>
                                        <option label="стягнення витрат виконавчого провадження"
                                                value="25">стягнення витрат виконавчого провадження</option>
                                        <option label="стягнення штрафів, накладених державним, приватним виконавцем"
                                                value="26">стягнення штрафів, накладених державним, приватним виконавцем</option>
                                        <option label="стягнення основної винагороди приватного виконавця" value="27">стягнення основної винагороди приватного виконавця</option>
                                        <option label="усунення перешкод у побаченні з дитиною, встановлення побачення з дитиною"
                                                value="28">усунення перешкод у побаченні з дитиною, встановлення побачення з дитиною</option>
                                    </select>
                                </span>
                            </fieldset>

                            <div id="physicalResults" class="row row--align-right ">
                                <p class="message message--color-negative ng-hide"
                                   data-ng-show="vm.data.searchResults.isOverflow">
                                    Знайдено забагато записів. Уточніть умови пошуку.
                                </p>
                            </div>

                            <div class="row row--align-right ">
                                <button class="btn btn--color-info" tabindex="10">
                                    Очистити
                                </button>
                                <button class="btn btn--color-info ng-hide" tabindex="11">
                                    Сформувати документ
                                </button>
                                <button class="btn btn--color-info" tabindex="13">
                                    Шукати
                                </button>
                            </div>

                            <div class="row">
                                <div class="grid-12 footer"></div>
                            </div>

                            <div class="row row--align-right ">
                                <div id="recaptcha_placeholder"></div>
                            </div>

                        </div>

                        <table class="ng-hide">
                            <thead>
                            <tr>
                                <th colspan="7">
                                    Результат пошуку фізичних осіб.
                                    <small>Дата та час пошуку:</small>
                                </th>
                            </tr>
                            <tr>
                                <th scope="col">Прізвище, ім’я, по батькові</th>
                                <th scope="col">Дата народження</th>
                                <th scope="col">Документ виданий</th>
                                <th scope="col">Виконавець</th>
                                <th scope="col">Номер ВП</th>
                                <th scope="col">Категорія стягнення</th>
                                <th scope="col">Дія</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td colspan="7">Записів не знайдено. Уточніть умови пошуку.</td>
                            </tr>
                            <tr class="print-no-page-break">
                                <td>Вороніна Вероніка Анатоліївна</td>
                                <td>09.10.1987</td>
                                <td>інший орган, посадова особа Корабельний РВ ДВС м Херсон</td>
                                <td class="wide-column">Корабельний районний відділ державної виконавчої служби у місті
                                    Херсоні Південного міжрегіонального управління Міністерства юстиції (м. Одеса)
                                    <br>
                                    <span>тел: <a href="tel:(0552) 428386">(0552) 428386</a></span>
                                    <br> Муценко Дмитро Олегович
                                    <br>
                                    <span> тел: <a href="tel:42-83-86">42-83-86</a></span>
                                    <br>
                                    <span> email: <a href="mailto:info_km@ks.ks.dvs.gov.ua">info_km@ks.ks.dvs.gov.ua</a></span>
                                </td>
                                <td>58089956</td>
                                <td>стягнення штрафів, накладених державним, приватним виконавцем</td>
                                <td class="ng-hide">
                                    <button type="button" class="btn btn--color-negative">Видалити</button>
                                    <button type="button" class="btn btn--color-warning">Редагувати</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="page02" class="ng-hide">
                        <div class="row">
                            <div class="grid-12">
                                <div class="section">
                                    <div>
                                        <form class="labels-inline">
                                            <fieldset>
                                                <label for="inputFirmName">Найменування:</label>
                                                <input type="text" name="debtorType" id="inputFirmName" tabindex="3"
                                                       autocomplete="off">
                                            </fieldset>

                                            <fieldset>
                                                <label for="inputFirmCode">Ідентифікаційний код юридичної
                                                    особи:</label>
                                                <input type="text" name="debtorType" id="inputFirmCode" tabindex="4"
                                                       autocomplete="off">
                                            </fieldset>

                                            <fieldset>
                                                <label for="categorySelect_164">
                                                    Категорія стягнення:
                                                </label>
                                                <span class="select">
                                                    <select id="categorySelect_164">
                                                        <option value="" class="" selected="selected"></option>
                                                        <option label="стягнення коштів"
                                                                value="01">стягнення коштів</option>
                                                        <option label="звернення стягнення на майно" value="02">звернення стягнення на майно</option>
                                                        <option label="стягнення аліментів" value="03">стягнення аліментів</option>
                                                        <option label="стягнення періодичних платежів (крім аліментів)"
                                                                value="04">стягнення періодичних платежів (крім аліментів)</option>
                                                        <option label="стягнення заборгованості із заробітної плати та інших платежів, пов’язаних з трудовими відносинами"
                                                                value="05">стягнення заборгованості із заробітної плати та інших платежів, пов’язаних з трудовими відносинами</option>
                                                        <option label="стягнення соціальних виплат" value="06">стягнення соціальних виплат</option>
                                                        <option label="стягнення заборгованості з оплати комунальних послуг"
                                                                value="07">стягнення заборгованості з оплати комунальних послуг</option>
                                                        <option label="стягнення штрафів у справах про адміністративні правопорушення"
                                                                value="08">стягнення штрафів у справах про адміністративні правопорушення</option>
                                                        <option label="стягнення штрафів у справах про адміністративні правопорушення у сфері безпеки дорожнього руху"
                                                                value="09">стягнення штрафів у справах про адміністративні правопорушення у сфері безпеки дорожнього руху</option>
                                                        <option label="забезпечення позову" value="10">забезпечення позову</option>
                                                        <option label="зобов’язання вчинити певні дії або утриматися від їх вчинення"
                                                                value="11">зобов’язання вчинити певні дії або утриматися від їх вчинення</option>
                                                        <option label="поновлення на роботі" value="12">поновлення на роботі</option>
                                                        <option label="вселення стягувача"
                                                                value="13">вселення стягувача</option>
                                                        <option label="виселення" value="14">виселення</option><option
                                                            label="відібрання дитини"
                                                            value="15">відібрання дитини</option>
                                                        <option label="заборона вчиняти певні дії" value="16">заборона вчиняти певні дії</option>
                                                        <option label="конфіскація майна"
                                                                value="17">конфіскація майна</option>
                                                        <option label="конфіскація майна, вилученого митними органами"
                                                                value="18">конфіскація майна, вилученого митними органами</option>

                                                        <option label="конфіскація майна засуджених" value="18.1">конфіскація майна засуджених</option>
                                                        <option label="конфіскація коштів та майна за вчинення корупційного та пов’язаного з корупцією правопорушення"
                                                                value="19">конфіскація коштів та майна за вчинення корупційного та пов’язаного з корупцією правопорушення</option>
                                                        <option label="оплатне вилучення"
                                                                value="20">оплатне вилучення</option>
                                                        <option label="передача стягувачу предметів, зазначених у виконавчому документі"
                                                                value="21">передача стягувачу предметів, зазначених у виконавчому документі</option>
                                                        <option label="стягнення коштів на користь держави" value="22">стягнення коштів на користь держави</option>
                                                        <option label="рішення Європейського суду з прав людини"
                                                                value="23">рішення Європейського суду з прав людини</option>
                                                        <option label="стягнення виконавчого збору"
                                                                value="24">стягнення виконавчого збору</option>
                                                        <option label="стягнення витрат виконавчого провадження"
                                                                value="25">стягнення витрат виконавчого провадження</option>
                                                        <option label="стягнення штрафів, накладених державним, приватним виконавцем"
                                                                value="26">стягнення штрафів, накладених державним, приватним виконавцем</option>
                                                        <option label="стягнення основної винагороди приватного виконавця"
                                                                value="27">стягнення основної винагороди приватного виконавця</option>
                                                        <option label="усунення перешкод у побаченні з дитиною, встановлення побачення з дитиною"
                                                                value="28">усунення перешкод у побаченні з дитиною, встановлення побачення з дитиною</option>
                                                    </select>
                                                </span>
                                            </fieldset>
                                        </form>

                                        <div id="searchResults" class="row row--align-right ">
                                            <p class="message message--color-negative ng-hide">
                                                Знайдено забагато записів. Уточніть умови пошуку.
                                            </p>
                                            <button class="btn btn--color-info" tabindex="10">
                                                Очистити
                                            </button>
                                            <button class="btn btn--color-info ng-hide" tabindex="11">
                                                Сформувати документ
                                            </button>
                                            <button class="btn btn--color-info" tabindex="11">
                                                Шукати
                                            </button>
                                        </div>

                                        <div class="row">
                                            <div class="grid-12 footer"></div>
                                        </div>

                                    </div>

                                    <div id="paging1" class="txt-center  ng-hide">
                                        <button class="btn btn--size-xs btn--color-info" tabindex="9"
                                                disabled="disabled">
                                            &lt;&lt;
                                        </button>
                                        <button class="btn btn--size-xs btn--color-info" tabindex="10"
                                                disabled="disabled">
                                            &lt; Попередні записи
                                        </button>
                                        <button class="btn btn--size-xs btn--color-info" tabindex="11"
                                                disabled="disabled">
                                            Наступні записи &gt;
                                        </button>
                                        <button class="btn btn--size-xs btn--color-info" tabindex="12"
                                                disabled="disabled">
                                            &gt;&gt;
                                        </button>
                                    </div>

                                    <table class="ng-hide">
                                        <thead>
                                        <tr>
                                            <th colspan="6">
                                                Результат пошуку юридичних осіб.
                                                <small>Дата та час пошуку:</small>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th scope="col">Найменування</th>
                                            <th scope="col">Документ виданий</th>
                                            <th scope="col">Зв'язок з виконавцем</th>
                                            <th scope="col">Номер виконавчого провадження</th>
                                            <th scope="col">Категорія стягнення</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="print-no-page-break">
                                            <td colspan="6">Записів не знайдено. Уточніть умови пошуку.</td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <div id="paging2" class="txt-center  ng-hide">
                                        <button class="btn btn--size-xs btn--color-info" tabindex="9"
                                                disabled="disabled">
                                            &lt;&lt;
                                        </button>
                                        <button class="btn btn--size-xs btn--color-info" tabindex="10"
                                                disabled="disabled">
                                            &lt; Попередні записи
                                        </button>
                                        <button class="btn btn--size-xs btn--color-info" tabindex="11"
                                                disabled="disabled">
                                            Наступні записи &gt;
                                        </button>
                                        <button class="btn btn--size-xs btn--color-info" tabindex="12"
                                                disabled="disabled">
                                            &gt;&gt;
                                        </button>
                                    </div>

                                    <div class="txt-center ng-hide">
                                        Кількість записів в реєстрі:
                                        <small data-ng-show="vm.data.pages > 1" class="ng-hide">(с. 1)</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
